extends layout

block content
  body.d-flex.h-100.text-center.text-white.bg-dark
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.md-0 Login
          nav.nav.nav-masthead.justify-content-center.float-md-end
      main.form-signin
        form(method="POST", action="/contact")
          img.mb-4(src="")
          h1.h3.mb-3.fw-normal  Sign in
          div.form-floating
            input.form-control#floatingInput(type="email" name="email" placeholder="name@example.com")
            label(for="floatingInput") Email address
          div.form-floating
            input.form-control#floatingPassword(type="password" name="password" placeholder="Password")
            label(for="floatingPassword") Password
          div.checkbox.mb-3
            label(type="checkbox" value="remember-me") Remember me
          button.w-100.btn.btn-lg.btn-primary(type="submit") Sign in
          p.mt-5.mb-3.text-muted © 2017–2021
        footer.mt-auto.text-white-50
          p Cover template for test.
          img(src= '/images/scooter.svg')
