extends layout

block content
  html(lang="en").h-100
  body.d-flex.h-100.text-center.text-white.bg-dark
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.md-0 Contact
          nav.nav.nav-masthead.justify-content-center.float-md-end
            a(href='/').nav-link Home
            a.nav-link Features
            a.nav-link.active Contact
      main.px-3
        p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
        p.lead
          a(href='#').btn.btn-lg.btn-secondary.fw-bold.border-white.bg-white Contact Established
      footer.mt-auto.text-white-50
        p Cover template for test.
