extends layout

block content
  body.d-flex.h-100.text-center.text-white.bg-dark
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
        div
          h3.float-md-start.md-0 Home
          nav.nav.nav-masthead.justify-content-center.float-md-end
            a(href='/').nav-link Home
            a.nav-link.active Features
            a(href='/contact').nav-link Contact
            div#map.map
              script.
                  var map = L.map('map',{ center: [56.181932, 15.590525], zoom: 20});

                  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{attribution: `&copy; contributors`}).addTo(map);

        footer.mt-auto.text-white-50
          p Cover template for test.
